/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
    font-family: "Poppins", sans-serif;
    background-color: #f8f9fa; /* Jasne tło */
    color: #1a1a2e
}


.my-card {
    border-radius: 12px;
    padding: 20px;
}

.publish-btn {
    background-color: #8b44bb;
    color: #ffffff;

    &:hover {
        background-color: #5a1cb8;
        color: #f5eff6;
    }
}

.read-btn-outline {
    background-color: transparent;
    color: #8b44bb;
    border: 1px solid #8b44bb;

    &:hover {
        background-color: #5a1cb8;
        color: #ffffff;
    }
}

.author-link {
    color: #864eb1;

    &:hover {
        color: #5a1cb8;
    }
}

.login-text {
    color: #8b44bb;
    text-decoration: none;

    &:hover {
        color: #5a1cb8;
    }
}

.edit-btn {
    color: #6728d7;

    &:hover {
        color: #5a1cb8;
    }
}

.breadcrumb a {
    color: #8b44bb;

    &:hover {
        color: #6728d7;
    }
}